.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.board-container {
  display: flex;
  height: 700px;
}

.board-menu {
  flex: 1;
}

.board-contents {
  flex: 4;
}
